<div ng-controller="ImpactController">
	<ul class="sub-nav  col-xs-12">
		
		<li ng-class="selected == 'defects'?'active':''" ng-click="selected = 'defects'"><a >Incompatibilities</a></li>
		<!-- <li ng-class="selected == 'performance'?'active':''" ng-click="selected = 'performance'"><a >Performance</a></li>
		<li ng-class="selected == 'usage'?'active':''" ng-click="selected = 'usage'"><a >Usage</a></li> -->

	</ul>

	<div class="view-container" ng-if="selected == 'defects'">
		<div  class="iA-container view-wrapper col-xs-12">
			<div class="totals-container  col-xs-12 ">
				<div class="col-xs-2 ia-count-tile status-{{countObj.color}}" ng-repeat="countObj in IncompabilitycountsArray">
					<div class="center-section">
						<p class="totals-numeric">{{countObj.count}}</p>
						<p class="totals-text">{{countObj.description}}</p>
					</div>
				</div>
			
			</div>
			<div class="col-xs-12 ">
				<div class="col-xs-6 graph-box padding-top-10" >
					<div class="pull-left col-xs-10">&nbsp;</div>
					<div class="pull-right col-xs-2 switch-block-container no-padding"> 
						<a class="switch-block col-xs-6 border-right text-center" href="javascript:void(0)" ng-click="defectsCharts.view1='piechart'" ng-class="defectsCharts.view1=='piechart'?'active':''" title="Pie">
							<span class="fa-lg fa fa-pie-chart fa-lg"></span>
						</a>
						<a class="switch-block col-xs-6 text-center" ng-class="defectsCharts.view1=='table'?'active':''" href="javascript:void(0)" ng-click="defectsCharts.view1='table'" title="Tabular">
							<span class="fa fa-table fa-lg"></span>
						</a>
					</div>
					<div class="center-section clear-both">
						
						<nvd3 ng-if="defectsCharts.view1=='piechart'" options="defectsCharts.piechart.options" data="defectsCharts.piechart.data"></nvd3>
						<nvd3 ng-if="defectsCharts.view1=='linechart'" options="defectsCharts.linechart.options" data="defectsCharts.linechart.data"></nvd3>
						<div class="tabular-data" ng-if="defectsCharts.view1=='table'">
							<table float-thead="floatTheadOptions">
								<thead >
									<tr class="border-bottom">
										<td class="col-xs-2 border-right">S.No.</td>
										<td class="col-xs-6 border-right">Object Name</td>
										<td class="col-xs-4 border-right">Count</td>
									</tr>
								</thead>
								
								<tbody>
									<tr class="" ng-repeat="item in defectsCharts.piechart.data">
										<td class="col-xs-2 border-right">{{$index+1}}</td>
										<td class="col-xs-6 border-right">{{item.key}}</td>
										<td class="col-xs-4 border-right">{{item.value}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-xs-6 graph-box padding-top-10">
					<div class="pull-right col-xs-10 switch-block-container no-padding"> 
						<div class="col-xs-9 no-padding">
						    <a class="switch-block col-xs-4 border-right text-center" href="javascript:void(0)" ng-click="updateChartType('COMPLEXITY')" title="Chart"  ng-class="defectFilter=='COMPLEXITY'?'active':''">
								<span class="fa">Complexity</span>
							</a>
							 <a class="switch-block col-xs-4 border-right text-center" href="javascript:void(0)" ng-click="updateChartType('SEVERITY')"  title="Chart"  ng-class="defectFilter=='SEVERITY'?'active':''">
								<span class="fa">Severity</span>
							</a>
							 <a class="switch-block col-xs-4 border-right text-center" href="javascript:void(0)" ng-click="updateChartType('ERRORTYPE')" title="Chart"  ng-class="defectFilter=='ERRORTYPE'?'active':''">
								<span class="fa">Correction Type</span>
							</a>
						</div>
						<div class="col-xs-3 no-padding">
							<a class="switch-block col-xs-6 border-right text-center" href="javascript:void(0)" ng-click="defectsCharts.view2='donutchart'" ng-class="defectsCharts.view2=='donutchart'?'active':''" title="Chart">
								<span class="fa fa-pie-chart fa-lg"></span>
							</a>
							<a class="switch-block col-xs-6 text-center" ng-class="defectsCharts.view2=='table'?'active':''" href="javascript:void(0)" ng-click="defectsCharts.view2='table'" title="Tabular">
								<span class="fa fa-table fa-lg"></span>
							</a>
						</div>
					</div>
					<div class="center-section clear-both">
						<nvd3 ng-if="defectsCharts.view2=='donutchart'" options="defectsCharts.donutchart.options" data="defectsCharts.donutchart.data"></nvd3>
						<div class="tabular-data" ng-if="defectsCharts.view2=='table'">
							<table float-thead="floatTheadOptions">
								<thead >
									<tr class="border-bottom">
										<td class="col-xs-2 border-right">S.No.</td>
										<td class="col-xs-6 border-right">Complexity</td>
										<td class="col-xs-4 border-right">Count</td>
									</tr>
								</thead>
								
								<tbody>
									<tr class="" ng-repeat="item in defectsCharts.donutchart.data">
										<td class="col-xs-2 border-right">{{$index+1}}</td>
										<td class="col-xs-6 border-right">{{item.key}}</td>
										<td class="col-xs-4 border-right">{{item.value}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="table-container col-xs-12 no-padding">
				<div class="col-xs-3 pull-right text-right">
					<a class="btn btn-primary toggle-table" show-table="showTabOneTable" scroll-down="scrollDown" tabular-data="tabOneData" tabular-header="tabOneHeader" file-name="DEF_ECC_TABLE_SUMMARY" file-service="getFileContent">Show/Hide Total Data</a>
				</div>

				<div class="col-xs-12 no-border" ng-if="showTabOneTable && tabOneData">
					<table-generate table-header="tabOneHeader" tabular-data="tabOneData"></table-generate>
				</div>
			</div>
		</div>
	</div>
	<div class="view-container" ng-if="selected == 'performance'">
		<div  class="iA-container view-wrapper col-xs-12" >
			<div class="totals-container  col-xs-12 ">
				<div class="col-xs-2 ia-count-tile status-{{countObj.color}}" ng-repeat="countObj in performanceCountsArray">
					<div class="center-section">
						<p class="totals-numeric">{{countObj.count}}</p>
						<p class="totals-text">{{countObj.description}}</p>
					</div>
				</div>
				
			</div>
			<div class="col-xs-12 ">
				<div class="col-xs-6 graph-box padding-top-10" ng-init="performanceCharts.view1='piechart'">
					<div class="pull-left col-xs-9">&nbsp;</div>
					<div class="pull-right col-xs-3 switch-block-container no-padding"> 
						<a class="switch-block col-xs-4 border-right text-center" href="javascript:void(0)" ng-click="performanceCharts.view1='piechart'" ng-class="performanceCharts.view1=='piechart'?'active':''" title="Pie">
							<span class="fa-lg fa fa-pie-chart fa-lg"></span>
						</a>
						<a class="switch-block col-xs-4 border-right text-center" href="javascript:void(0)" ng-click="performanceCharts.view1='linechart'" ng-class="performanceCharts.view1=='linechart'?'active':''" title="Line">
							<span class="fa-lg fa fa-line-chart fa-lg"></span>
						</a>
						<a class="switch-block col-xs-4 text-center" ng-class="performanceCharts.view1=='table'?'active':''" href="javascript:void(0)" ng-click="performanceCharts.view1='table'" title="Tabular">
							<span class="fa fa-table fa-lg"></span>
						</a>
					</div>
					<div class="center-section clear-both">
						
						<nvd3 ng-if="performanceCharts.view1=='piechart'" options="performanceCharts.piechart.options" data="performanceCharts.piechart.data"></nvd3>
						<nvd3 ng-if="performanceCharts.view1=='linechart'" options="performanceCharts.linechart.options" data="performanceCharts.linechart.data"></nvd3>
						<div class="tabular-data" ng-if="performanceCharts.view1=='table'">
							<table float-thead="floatTheadOptions">
								<thead >
									<tr class="border-bottom">
										<td class="col-xs-2 border-right">S.No.</td>
										<td class="col-xs-6 border-right">Feature Name</td>
										<td class="col-xs-4 border-right">Count</td>
									</tr>
								</thead>
								
								<tbody>
									<tr class="" ng-repeat="item in performanceCharts.piechart.data">
										<td class="col-xs-2 border-right">{{$index+1}}</td>
										<td class="col-xs-6 border-right">{{item.key}}</td>
										<td class="col-xs-4 border-right">{{item.y}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-xs-6 graph-box padding-top-10" ng-init="performanceCharts.view2 = 'donutchart'">
					<div class="pull-left col-xs-10">&nbsp;</div>
					<div class="pull-right col-xs-2 switch-block-container no-padding"> 
						<a class="switch-block col-xs-6 border-right text-center" href="javascript:void(0)" ng-click="performanceCharts.view2='donutchart'" ng-class="performanceCharts.view2=='donutchart'?'active':''" title="Chart">
							<span class="fa fa-pie-chart fa-lg"></span>
						</a>
						<a class="switch-block col-xs-6 text-center" ng-class="performanceCharts.view2=='table'?'active':''" href="javascript:void(0)" ng-click="performanceCharts.view2='table'" title="Tabular">
							<span class="fa fa-table fa-lg"></span>
						</a>
					</div>
					<div class="center-section clear-both">
						<nvd3 ng-if="performanceCharts.view2=='donutchart'" options="performanceCharts.donutchart.options" data="performanceCharts.donutchart.data"></nvd3>
						<div class="tabular-data" ng-if="performanceCharts.view2=='table'">
							<table float-thead="floatTheadOptions">
								<thead >
									<tr class="border-bottom">
										<td class="col-xs-2 border-right">S.No.</td>
										<td class="col-xs-6 border-right">Feature Name</td>
										<td class="col-xs-4 border-right">Count</td>
									</tr>
								</thead>
								
								<tbody>
									<tr class="" ng-repeat="item in performanceCharts.piechart.data">
										<td class="col-xs-2 border-right">{{$index+1}}</td>
										<td class="col-xs-6 border-right">{{item.key}}</td>
										<td class="col-xs-4 border-right">{{item.y}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="table-container col-xs-12 no-padding">
				<div class="col-xs-3 pull-right text-right">
					<a class="btn btn-primary toggle-table" show-table="showTabTwoTable" scroll-down="scrollDown" tabular-data="tabTwoData" tabular-header="tabTwoHeader" file-name="DEF_ECC_PROG" file-service="getFileContent">Show/Hide Total Data</a>
				</div>

				<div class="col-xs-12 no-border" ng-if="showTabTwoTable && tabTwoData">
					<table-generate table-header="tabTwoHeader" tabular-data="tabTwoData"></table-generate>
				</div>
			</div>

		</div>
	</div>
	<div class="view-container" ng-if="selected == 'usage'">
		<div  class="iA-container view-wrapper col-xs-12" >
			<div class="totals-container  col-xs-12 ">
				<div class="col-xs-2 ia-count-tile status-{{countObj.color}}" ng-repeat="countObj in IncompabilitycountsArray">
					<div class="center-section">
						<p class="totals-numeric">{{countObj.count}}</p>
						<p class="totals-text">{{countObj.description}}</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 ">
				<div class="col-xs-6 graph-box padding-top-10" ng-init="usageCharts.view1='piechart'">
					<div class="pull-left col-xs-9">&nbsp;</div>
					<div class="pull-right col-xs-3 switch-block-container no-padding"> 
						<a class="switch-block col-xs-4 border-right text-center" href="javascript:void(0)" ng-click="usageCharts.view1='piechart'" ng-class="usageCharts.view1=='piechart'?'active':''" title="Pie">
							<span class="fa-lg fa fa-pie-chart fa-lg"></span>
						</a>
						<a class="switch-block col-xs-4 border-right text-center" href="javascript:void(0)" ng-click="usageCharts.view1='linechart'" ng-class="usageCharts.view1=='linechart'?'active':''" title="Line">
							<span class="fa-lg fa fa-line-chart fa-lg"></span>
						</a>
						<a class="switch-block col-xs-4 text-center" ng-class="usageCharts.view1=='table'?'active':''" href="javascript:void(0)" ng-click="usageCharts.view1='table'" title="Tabular">
							<span class="fa fa-table fa-lg"></span>
						</a>
					</div>
					<div class="center-section clear-both">
						
						<nvd3 ng-if="usageCharts.view1=='piechart'" options="usageCharts.piechart.options" data="usageCharts.piechart.data"></nvd3>
						<nvd3 ng-if="usageCharts.view1=='linechart'" options="usageCharts.linechart.options" data="usageCharts.linechart.data"></nvd3>
						<div class="tabular-data" ng-if="usageCharts.view1=='table'">
							<table float-thead="floatTheadOptions">
								<thead >
									<tr class="border-bottom">
										<td class="col-xs-2 border-right">S.No.</td>
										<td class="col-xs-6 border-right">Feature Name</td>
										<td class="col-xs-4 border-right">Count</td>
									</tr>
								</thead>
								
								<tbody>
									<tr class="" ng-repeat="item in usageCharts.piechart.data">
										<td class="col-xs-2 border-right">{{$index+1}}</td>
										<td class="col-xs-6 border-right">{{item.key}}</td>
										<td class="col-xs-4 border-right">{{item.y}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-xs-6 graph-box padding-top-10" ng-init="usageCharts.view2 = 'donutchart'">
					<div class="pull-left col-xs-10">&nbsp;</div>
					<div class="pull-right col-xs-2 switch-block-container no-padding"> 
						<a class="switch-block col-xs-6 border-right text-center" href="javascript:void(0)" ng-click="usageCharts.view2='donutchart'" ng-class="usageCharts.view2=='donutchart'?'active':''" title="Chart">
							<span class="fa fa-pie-chart fa-lg"></span>
						</a>
						<a class="switch-block col-xs-6 text-center" ng-class="usageCharts.view2=='table'?'active':''" href="javascript:void(0)" ng-click="usageCharts.view2='table'" title="Tabular">
							<span class="fa fa-table fa-lg"></span>
						</a>
					</div>
					<div class="center-section clear-both">
						<nvd3 ng-if="usageCharts.view2=='donutchart'" options="usageCharts.donutchart.options" data="usageCharts.donutchart.data"></nvd3>
						<div class="tabular-data" ng-if="usageCharts.view2=='table'">
							<table float-thead="floatTheadOptions">
								<thead >
									<tr class="border-bottom">
										<td class="col-xs-2 border-right">S.No.</td>
										<td class="col-xs-6 border-right">Feature Name</td>
										<td class="col-xs-4 border-right">Count</td>
									</tr>
								</thead>
								
								<tbody>
									<tr class="" ng-repeat="item in usageCharts.donutchart.data">
										<td class="col-xs-2 border-right">{{$index+1}}</td>
										<td class="col-xs-6 border-right">{{item.key}}</td>
										<td class="col-xs-4 border-right">{{item.y}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="table-container col-xs-12 no-padding">
				<div class="col-xs-3 pull-right text-right">
					<a class="btn btn-primary toggle-table" show-table="showTabThreeTable" scroll-down="scrollDown" tabular-data="tabThreeData" tabular-header="tabThreeHeader" file-name="DEF_ECC_TABLE_SUMMARY" file-service="getFileContent">Show/Hide Total Data</a>
				</div>

				<div class="col-xs-12 no-border" ng-if="showTabThreeTable && tabThreeData">
					<table-generate table-header="tabThreeHeader" tabular-data="tabThreeData"></table-generate>
				</div>
			</div>

		</div>
	</div>
</div>
<div ng-include="'../partials/tableStructure.html'">