$bg-color: #fff;
$border-color: #dcd8d8;


.iA-container{
	background-color:$bg-color;
	.totals-container{
		padding-top: 30px;
		padding-bottom: 30px;
		.totals-numeric{
		    font-size: 36px;
		}
		.totals-text{
		    font-weight: 200;
    		font-size: 16px;
		}
	}
	
	.ia-chart-column{
		min-height: 300px;
		border:1px solid $border-color; 
	}
	.count{
		font-size: 36px;
 	}
	g.nv-slice {
		cursor: pointer;
	}
	
}