$bg-color: #fff;

.s4-container{
	background-color:$bg-color;
	.totals-container{
		padding-top: 30px;
		padding-bottom: 30px;
		.totals-numeric{
		    font-size: 36px;
		}
		.totals-text{
		    font-weight: 200;
    		font-size: 16px;
		}
	}
	
	.table-container{
		margin-top: 20px;
	}
}